@font-face {
    font-family: COURIERPRIME;
    src: url(CourierPrime-Regular.ttf);
  }
@font-face {
  font-family: COURIERPRIMEBOLD;
  src: url(CourierPrime-Bold.ttf);
}
strong {
  font-family: COURIERPRIMEBOLD;
}

.body {
  background-color: black;
  color: #7cfc00;
  font-family: COURIERPRIME;
  font-size: 1vw;
  /*overflow-x: hidden;*/
  overflow-x: hidden;
  overflow-y: hidden;
  /*overflow-wrap: break-word;*/
  white-space: normal;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.consoleinput {
  background-color: rgba(0,0,0,0);
  color: #7cfc00;
  font-family: COURIERPRIME;
  border: none;
  outline: none;
  position: fixed;
  bottom: 20px;
  margin-bottom: 0px;
  width: 100vw;
  z-index: 15;
  padding-top: 1vw;
  
}
.consoleinputbox {
  background-color: rgba(0,0,0,0);
  color: #7cfc00;
  font-family: COURIERPRIME;
  border: none;
  outline: none;
  position: fixed;
  margin-left: 10px;
  width: 96vw;
  z-index: 15;
}




.consy {
  /*width: 98vw;*/
  /*overflow-wrap: break-word;*/
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  /*word-break: break-all;
  padding-bottom: 6.5vh;
  height: 90vh;*/
  width: calc(100vw - 17px);
  z-index: 10;
  overflow-y: scroll;
  overflow-x: scroll;
  /*padding-top: 60px;*/
 
}

/*pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
*/

.topbar {
  background-color: #1e1e1e;
  width: inherit;
  height: 30px;
  cursor: move;
  color: white;
  position: fixed;
  font-family: COURIERPRIME;
}


.debugwindow {
  background-color: rgb(0, 0, 0);
  font-family: COURIERPRIME;
  font-size: 1vw;
  overflow-x: scroll;
  /*overflow-wrap: break-word;*/
  overflow-wrap: scroll;
  white-space: normal;
  width: 450px;
  height: 275px;
  position: fixed;
  right: 2px;
  top: 2px;
  border: 2px #1e1e1e solid;
}



.debugvarwindow {
    background-color: rgb(0, 0, 0);
    font-family: COURIERPRIME;
    font-size: 1vw;
    overflow-x: scroll;
    /*overflow-wrap: break-word;*/
    overflow-wrap: scroll;
    white-space: normal;
    width: 450px;
    height: 325px;
    position: fixed;
    left: 2px;
    top: 2px;
    border: 2px #1e1e1e solid; 
}

.songinfowindow {
    background-color: rgb(0, 0, 0);
    font-family: COURIERPRIME;
    font-size: 1vw;
    overflow-x: scroll;
    /*overflow-wrap: break-word;*/
    overflow-wrap: scroll;
    white-space: normal;
    width: 450px;
    height: 130px;
    position: fixed;
    right: 2px;
    bottom: 2px;
    border: 2px #1e1e1e solid;
    overflow-y: hidden;
    z-index: 100;
}

.p1credwindow {
  background-color: #010302;
  color: #c6922b;
  font-family: COURIERPRIME;
  font-size: 1vw;
  overflow-x: scroll;
  /*overflow-wrap: break-word;*/
  overflow-wrap: scroll;
  white-space: normal;
  width: 420px;
  height: 420px;
  position: fixed;
  right: 2px;
  top: 2px;
  border: 2px #1e1e1e solid;
  overflow-x: hidden;
}

.p2credwindow {
  background-color: #a15606;
  font-family: COURIERPRIME;
  color: #ffb44d/*#1e1e1e*/;
  font-size: 1vw;
  overflow-x: scroll;
  /*overflow-wrap: break-word;*/
  overflow-wrap: scroll;
  white-space: normal;
  width: 390px;
  height: 80vh;
  position: fixed;
  right: 2px;
  top: 20px;
  border: 2px #f68309 solid;
  overflow-x: hidden;
}

.p2mouse {
  background-color: #f68309;
  color: #ffb44d;
}


.p1asciiwindow {
  background-color: rgb(0, 0, 0);
  font-family: COURIERPRIME;
  font-size: 1vw;
  overflow-x: hidden;
  /*overflow-wrap: break-word;*/
  overflow-wrap: hidden;
  white-space: normal;
  width: 405px;
  height: 430px;
  position: fixed;
  right: 2px;
  bottom: 2px;
  border: 2px #1e1e1e solid;
  overflow-x: hidden;
}

.p1ascii {
  padding-left: 17px;
}

.p1cred {
  padding-left: 10px;
}

.p2cred {
  padding-left: 10px;
}

.debubtext {
  padding-left: 5px;
  margin-top: 30px;
  font-family: COURIERPRIME;
}
.debubtextvar {
  padding-left: 5px;
  margin-top: 30px;
  font-family: COURIERPRIME;
}

.clickymouse:hover {
  cursor: pointer;
}

.worble {
  color: white;
  padding: 10px;
}

.hide {
  display: none;
}    

.bold {
    font-weight: bold;
}

.italy {
    font-style: italic;
}

.under {
    text-decoration: underline;
}

.window {
    font-size: 15px;
}

.bottombar {
  position: absolute;
  background-color: #1e1e1e;
  height: 30px;
  width: 100vw;
  bottom: 0px;
  left: 0px;
  z-index: 10;
}